<div id="home-validation-success"></div>
<form id="home-user-password-out-form">
    <div id="home-user-password-form"></div>
</form>
<script>
    $(document).ready(function () {
        let validationSuccess = $("#home-validation-success");

        let form = $("#home-user-password-form").kendoForm({
            orientation: "horizontal",
            buttonsTemplate: "<a id='home-password-update'>변경</a> <a id='home-password-clear'>초기화</a>",
            items: [{
                type: "group",
                label: `${USER_INFO.userNm} 님 패스워드 변경`,
                items: [
                    {
                        field: "userPwd",
                        label: "현재 패스워드:",
                        validation: {required: true},
                        hint: "현재 패스워드를 입력하세요.",
                        editor: function (container, options) {
                            $(`<input validationMessage="${options.label} 필수 항목 입니다." type="password" id="home-userPwd" name="${options.field}"
                            required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: userPwd" aria-describedby="Password-form-hint"/>`)
                                .appendTo(container)
                                .kendoTextBox();
                        }
                    }, {
                        field: "password",
                        label: "패스워드:",
                        validation: {
                            required: true,
                            greaterdate: function (input) {
                                if (input.is("[name='password']") && input.val() !== "") {
                                    return validationPassword(input);
                                }
                                return true;
                            }
                        },
                        hint: "영문,특수문자(!@#$^*+=-),숫자 조합 8자리.",
                        editor: function (container, options) {
                            $(`<input validationMessage="${options.label}  필수 항목 입니다." type="password" id="home-password" name="${options.field}"
                            required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: password" aria-describedby="Password-form-hint"/>`)
                                .appendTo(container)
                                .kendoTextBox();
                        }
                    }, {
                        field: "userPwdChange",
                        label: "패스워드 확인:",
                        validation: {
                            required: true,
                            greaterdate: function (input) {
                                if (input.is("[name='userPwdChange']") && input.val() !== "") {
                                    return validationPassword(input, 'home-user-password-out-form');
                                }
                                return true;
                            }
                        },
                        hint: "영문,특수문자(!@#$^*+=-),숫자 조합 8자리.",
                        editor: function (container, options) {
                            $(`<input validationMessage="${options.label} 필수 항목 입니다." type="password" id="home-userPwdChange" name="${options.field}"
                            required="required" autocomplete="off" aria-labelledby="Password-form-label" data-bind="value: userPwdChange" aria-describedby="Password-form-hint"/>`)
                                .appendTo(container)
                                .kendoTextBox();
                        }
                    }
                ]
            }],
            validateField: function () {
                validationSuccess.html("");
            }
        }).data("kendoForm");

        $('#home-password-update').kendoButton({
            spriteCssClass: 'bi bi-check-all',
            size: "medium",
            themeColor: "primary",
            click: function () {
                if (form.validate()) {
                    let msg = {title: document.title, msg: '패스워드 변경 하겠습니까?', callback: homeUpdatePassword};
                    message.callBackConfirm(msg);
                }
            }
        });
        $('#home-password-clear').kendoButton({
            spriteCssClass: 'bi bi-x-circle',
            size: "medium",
            click: function () {
                form.clear();
            }
        });
        const homeUpdatePassword = () => {
            let passwordUpdateUrl = '/common/v1/user/password';
            let param = $(`#home-user-password-out-form`).serializeJSON();
            let call = new cpDataSource(METHOD.PUT, passwordUpdateUrl, param).getDataSource();
            return call.read().then(function () {
                kendo.alert('패스워드가 변경 되었습니다.');
                $('#home-password-window').data('kendoWindow').close();
            });
        }
    });
</script>