<section id="manual-relation-layout">
    <div id="manual-relation-left-section-splitter" class="pane-content" style="height: calc(100vh - 100px);">
        <div id="manual-relation-left-section">
            <div id="manual-relation-expansion-panel">
                <div class="c-grid-search-box">
                    <div class="c-grid-search-row">
                        <div class="c-grid-search-item">
                            <label>상담분류</label>
                            <input id="manual-relation-search-call-cat">
                        </div>
                        <div class="c-grid-search-item">
                            <label>담당부서</label>
                            <input id="manual-relation-search-dept-id">
                        </div>
                        <div class="c-grid-search-item">
                            <label>담당자</label>
                            <input id="manual-relation-charge-id">
                        </div>
                        <div class="c-grid-search-item c-search-txt-group">
                            <label>검색구분</label>
                            <input id="manual-relation-search-type" style="width: 45%;">
                            <input id="manual-relation-search-text" style="width: 55%;">
                        </div>
                        <div class="c-grid-search-item">
                            <label>사용여부</label>
                            <div id="manual-relation-use-type"></div>
                        </div>
                    </div>
                    <div style="min-width: 100px; text-align: right;">
                        <button id="manual-relation-search-btn-button" sec:authorize="hasRole('ROLE_WORK_MANUAL_MGR_SELECT')" title="검색"></button>
                        <button id="manual-relation-search-btn-reset" sec:authorize="hasRole('ROLE_WORK_MANUAL_MGR_SELECT')" title="초기화"></button>
                    </div>
                </div>
            </div>
            <div id="manual-relation-splitter">
                <div id="manual-relation-splitter-main" class="c-splitter-grid">
                    <div id="manual-relation-grid" class="c-grid"></div>
                </div>
                <div id="manual-relation-splitter-detail" class="c-splitter-detail"></div>
            </div>
        </div>
        <div id="manual-relation-right-section" class="c-splitter-detail" style = "background-color:white; border: 1px solid rgb(222,226,230);" >
            <input type="hidden" id="manual-relation-manual-uuid" name="manualUuid">
            <input type="hidden" id="manual-relation-manual-id" name="manualId">
            <input type="hidden" id="manual-relation-test" name="manualTest">
            <div class="c-detail-view">
                <div class="k-card-header">
                    <div><h3>매뉴얼 연관짓기</h3></div>
                </div>
                <div class="c-detail-body">
                    <div style="display: flex; align-items: center; height: 40px;">
                        <h3 style="margin:0 10px;">선택된 매뉴얼</h3>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <div class="c-table" style="width:100%;">
                            <div class="c-table-row">
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">제목</dt>
                                    <dd style="width:100%;"><input id="manual-relation-detail-title"/></dd>
                                </div>
                            </div>
                        </div>
                        <div class="c-table" style="width:100%;">
                            <div class="c-table-row">
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">상담분류</dt>
                                    <dd style="width:50%;"><input id="manual-relation-detail-consult-cat" /></dd>
                                </div>
                            </div>
                        </div>
                        <div class="c-table" style="width:100%;">
                            <div class="c-table-row">
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">등록일</dt>
                                    <dd><input id="manual-relation-detail-reg-dt"/></dd>
                                </div>
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">수정일</dt>
                                    <dd><input id="manual-relation-detail-mdf-dt"/></dd>
                                </div>
                            </div>
                        </div>
                        <div class="c-table" style="width:100%;">
                            <div class="c-table-row">
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">담당부서</dt>
                                    <dd><input id="manual-relation-detail-dept"/></dd>
                                </div>
                                <div class="c-table-cell">
                                    <dt style="margin-bottom: 5px;">담당자</dt>
                                    <dd><input id="manual-relation-detail-agent"/></dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="manual-relation-drag-grid-box" style="width:95%; margin: 0 auto;">
                        <label id="manual-relation-drop-target-guide-text" style="color: #ff6347; font-weight: bold;"></label>
                        <div id="manual-relation-drag-grid"></div>
                    </div>
                </div>
                <div style="height: 40px;">
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <button id="manual-relation-detail-btn" style="display: none; float:left; margin-left:35px; margin-top: 15px;">매뉴얼 상세보기</button>
                        </div>
                        <div>
                            <button id="manual-relation-reset-btn" style="display:none; margin-top: 15px;">초기화</button>
                            <button id="manual-relation-save-btn" style="display:none; margin-right: 35px; margin-top: 15px;">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/knowledge/manualRelation.js}"></script>