@font-face {
    font-family: '나눔고딕';
    src: url(/css/fonts/nanum-gothic/NanumGothic.eot);
    src: url(/css/fonts/nanum-gothic/NanumGothic.eot?#iefix) format("embedded-opentype"), url(/css/fonts/nanum-gothic/NanumGothic.woff) format("woff"), url(/css/fonts/nanum-gothic/NanumGothic.ttf) format("truetype");
}

@font-face {
    font-family: '나눔고딕';
    src: url(/css/fonts/nanum-gothic/NanumGothicBold.otf) format("embedded-opentype"), url(/css/fonts/nanum-gothic/NanumGothicBold.ttf) format("truetype"), url(/css/fonts/nanum-gothic/NanumGothicBold.woff) format("woff");
}

@font-face {
    font-family: '나눔고딕';
    src: url(/css/fonts/nanum-gothic/NanumGothicExtraBold.otf) format("embedded-opentype"), url(/css/fonts/nanum-gothic/NanumGothicExtraBold.ttf) format("truetype"), url(/css/fonts/nanum-gothic/NanumGothicExtraBold.woff) format("woff");
}

@font-face {
    font-family: '나눔고딕';
    src: url(/css/fonts/nanum-gothic/NanumGothicLight.otf) format("embedded-opentype"), url(/css/fonts/nanum-gothic/NanumGothicLight.ttf) format("truetype"), url(/css/fonts/nanum-gothic/NanumGothicLight.woff) format("woff");
}
